body {
  margin: 0;
  background-image: url("img/fundo.jpg");
  background-size: cover;
  height: 92vh;
}

.perfil {
  width: 150px;
}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all .5s;
}

nav {
  background-color: rgb(43, 17, 102, 0.4);
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

h1,
a {
  color: #fff;
}

nav,
ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 0 20px;
}

h1 {
  margin: 0;
  padding: 10px;
}

.botao-menu {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

li:hover,
h1:hover,
.botao-menu:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.2);
}

.botao-menu:focus~ul {
  height: 260px;
}

main {
margin: 20px;}

@media (max-width: 700px) {

  nav,
  ul {
      flex-direction: column;
      align-items: unset;
  }

  ul {
      text-align: center;
      margin: 0;
      height: 0;
  }

  nav {
      padding: 10px;
      align-items: unset;
  }

  h1 {
      margin: 10px;

  }

  .botao-menu {
      display: flex;
  }

  li,
  ul {

      width: 100%;

  }
}